[submodule "files/gdb-dashboard"]
	path = files/gdb-dashboard
	url = https://github.com/cyrus-and/gdb-dashboard.git
[submodule "files/vim-plug"]
	path = files/vim-plug
	url = https://github.com/junegunn/vim-plug
